.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.env
db.sqlite3
/backend/alembic.ini
/backend/alembic/

# Docker
.dockerignore

# Build artifacts
dist/
build/
*.egg-info/

# IDE specific
.idea/
.vscode/

# outputs
tmp/
test_json_sessions/